{% extends 'TODO/layout.html ' %}

{% block content %}
<div class="container text-center">
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tarea</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        
        <tr>
            <th scope="row">{{ tarea.id }}</th>
            <td>{{ tarea.tarea }}</td>
            <td>{{ tarea.descr }}</td>
            <td>

                <a class="btn btn-danger" href="{% url 'eliminar' tarea.id %}"> Eliminar</a>
                <a class="btn btn-primary" href="{% url 'editar' tarea.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<a class=" btn btn-primary" href="{% url 'agregar' %}">Crear nueva tarea</a>
</div>








{% endblock %}

{% block extrajs %}


{% endblock extrajs %}


